.accueil {
    display: flex;
    background-image: url('/uploads/fond.jpeg');
    background-size: cover;
    width: 100%;
    margin: 0;
    height: fit-content;
    color: white;
    position: relative;
    z-index: -1;
}

.accueil img{
    width: 20%;
    margin: 0 auto;
    margin-top: 2em;
}

.video{
    flex-basis: 50%;
    background-color: black;
    margin: 3em;
}
@media screen and (max-width: 1024px){
.accueil img{
    display:none;
}

.video{
    flex-basis: 100%;
}

.accueil{
    height:fit-content;
}

}

.avancee{
    margin-bottom: 4em;
    
}

.avancee h1, .recompenses h1{
    font-size: 3rem;
    margin-top: -1em;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    letter-spacing: 2px;
    background-color: #411355;
    padding: 0.5em;
    margin-left: 55%;
    overflow: hidden;
    border-radius: 50px 0 0 50px;
}



.equipe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em 5em auto 5em;
}

.equipe img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: 7px solid black;
}

.equipe h3{
    font-size: 2rem;
    padding-left: 1em;
    text-align: center;
}

.equipe i{
    font-family: treenightregular;
    font-style: normal;
    color: #f3d521;
    transition: 0.5s;
}

.equipe i:hover{
    letter-spacing: 2px;
    transition: 0.5s;
    font-size: 3.3rem;
}

@media screen and (max-width:768px) {
    .equipe{
        flex-direction: column;

    }

    .equipe h3{
        padding-left: 0;
    }
}

.bandeau{
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    justify-content: space-between;
    background-color: #eae655;
}

.bandeau h4{
    color: white;
    padding: 1em;
    margin: 0;
    font-size: x-large;
}

.bandeau h3{
    font-size: xx-large;
    transition: 1s;
    margin: 0;
    padding: 1em;
}

.bandeau div{
    transition: 1s;
    flex-basis: 33%;
}

.bandeau div:hover{
    flex-basis: 40%;
    transition: 1s;
}

.bandeau h3:hover{
    transform: translateY(10%);
    transition: 1s;
}

.bandeau svg{
    transition: 1s;
}

.bandeau svg:hover{
    rotate: calc(360deg);
}

.bandeau div img{
    width: 80px;
    height: auto;
}


.recompenses h1{
    margin-right: 55%;
    margin-left: 0;
    text-align: right;
    border-radius: 0 50px 50px 0;
}

.recompenses img{
    width: 40%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    .bandeau{
      flex-direction: column;
      width: fit-content;
      border-radius: 25px;
      margin: auto;
      padding: 0;
    }

    .recompenses img{
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .avancee h1, .recompenses h1{
        margin:0;
        border-radius:0;
        text-align: center;
    }

    .equipe i:hover{
        letter-spacing: 0;
        font-size: 2rem;
    }

    .equipe h3{
        font-size: 1.5rem;
    }

    .bandeau h4{
        font-size: large;
    }

    .bandeau h3{
        font-size: x-large;
    }

}

@media screen and (max-width: 768px){
    .bandeau{
      flex-direction: column;
      width:75%;
        margin: 0 auto;
    }


    .equipe img{
        width: 60px;
        height: auto;
    }
    .equipe h3{
        font-size: x-large;
    }

    .equipe{
        margin-top: 1em;
    }


    .bandeau h4{
        font-size: x-large;
    }

    .avancee h1, .recompenses h1{
        font-size: 2rem;
    }

}

@media screen and (max-width: 425px){
    .avancee h1, .recompenses h1{
        font-size: 1.5rem;
    }

    .bandeau{
        flex-direction: column;
        width:100%;
        border-radius: 0;
          margin: 0 auto;
      }

      .recompenses img{
        width: 80%;
    }

      .equipe{
        width: 100%;
        margin: 0 auto;
        margin-top: 1em;
    }

    .bandeau h4{
        font-size: large;
    }
}
