.equipe{
    
    background-image: url('/uploads/fond.jpg');
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    color: white;
}

.equipe > div{
    margin: 4em;
}

.points{
    display: flex;
    align-items: center;
}

.points svg, .points div{
    margin: 0;
}

.points div h3{
    font-size: 4rem;
}