.mission{
    margin: 3em;
}

.mission h2{
    color: black;
    font-size: 4rem;
}

.infos{
    background-color: #eae655;
    flex-basis: 30%;
    border-radius: 15px;
    box-shadow: 25px 17px 52px 7px rgba(0,0,0,0.5);
    height: 500px;
}

.mission div{
    display: flex;
    margin: 0;
    margin-top: 0.5em;
}