.start{
    display: flex;
    background-image: url('/uploads/fond.jpg');
    background-size: cover;
    width: 100%;
    margin: 0;
    height: 80vh;
    color: white;
}

.video{
    flex-basis: 60%;
    background-color: black;
    margin: 2em;
}

.join{
    margin: 2em;
    margin-right:0;
    flex-basis: 40%;
    position: relative;
}

.join h3{
    font-size: 2vw;
    font-family: treenightregular;
    letter-spacing: 4px;
    margin-top: 2em;
}

.join a{
    background-color: #f3d521;
    border: none;
    padding: 1em;
    width: 150%;
    position: absolute;
    right: 0;
    text-decoration: none;
    bottom: 20%;
    font-family: Poppins;
    color: white;
    font-weight: bold;
    font-size: 1.8vw;
    border-radius: 50px 0 0 50px;
    transition: 0.3s;
}

.join p{
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
}

.join a:hover{
    letter-spacing: 3px;
    transition: 0.3s;
}

.join > div{
    display: flex;
    margin-top: 2em;
}

.join div div{
    text-align: center;
}

.join > div span{
    width: 50%;
    font-weight: lighter;
    font-size: xx-large;
    
}