.start {
    display: flex;
    background-image: url('/uploads/fond.jpeg');
    background-size: cover;
    width: 100%;
    min-height: 80vh;
    margin: 0;
    flex-grow: 1;
    color: white;
}

.video {
    flex-basis: 60%;
    background-color: black;
    margin: 2em;
}

.join {
    margin: 2em;
    margin-right: 0;
    flex-basis: 40%;
    position: relative;
}

.join h3 {
    font-size: 2vw;
    font-family: treenightregular;
    letter-spacing: 4px;
    margin-top: 2em;
}

.join a {
    background-color: #f3d521;
    border: none;
    padding: 1em;
    width: 150%;
    position: absolute;
    right: 0;
    text-decoration: none;
    bottom: 20%;
    font-family: Poppins;
    color: white;
    font-weight: bold;
    font-size: 1.8vw;
    border-radius: 50px 0 0 50px;
    transition: 0.3s;
}

.join p {
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
}

.join a:hover {
    letter-spacing: 3px;
    transition: 0.3s;
}

.join > div{
    display: flex;
    margin-top: 1em;
    justify-content: center;
}

.join div div{
    text-align: center;
    margin: 1em;
}

.join > div span{
    width: 50%;
    font-weight: lighter;
    font-size: xx-large;
    font-family: treenightregular;
    
}

@media screen and (max-width: 1024px){
    .video{
        width: 450px;
        height: 350px;
        margin: 0 auto;
        margin-top: 3em;
    }

    .start{
        flex-direction: column;
    }

    .join a {
        border-radius: 50px;
        position: static;
    }

    .join h3 {
        font-size: 4vw;
        margin-top: 1em;
    }

    .join > div{
        display: flex;
        margin-top: 1em;
        margin-bottom: 2em;
        justify-content: center;
    }

    .join a:hover {
        letter-spacing: 1px;
    }

    .join{
        margin-right: 2em;
        justify-content: center;
        text-align: center;
      
    }
}

@media screen and (max-width: 768px){
    .join a {
        font-size: 3vw;
    }

    .start{
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 480px){
    .video{
        width: 90%;
        height: 250px;
        margin: 0 auto;
        margin-top: 3em;
    }

    .join > div{
        flex-direction: column;
    }

    .join div div{
        margin: 0.5em;
    }

    .join a {
        font-size: 3.5vw;
    }

    .join a:hover{
        letter-spacing: 0;
    }

    .join h3 {
        font-size: 6vw;
    }
}