.start{
    display: flex;
    background-image: url('/uploads/fond.jpg');
    background-size: cover;
    width: 100%;
    margin: 0;
    z-index: -1;
    height: 600px;
}

.video{
    flex-basis: 60%;
    background-color: black;
    margin: 2em;
}
