.story{
    width: 75%;
    margin: 0 auto;
}

.stats{
    text-align: center;
    margin: 4em;
    margin-bottom: 1em;
}

.stats h2{
    margin: 0.5em;
    margin-bottom: 0;
    color: black;
}

.chemin{
    background-color: black;
    width: 70%;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0.3em;
    border-radius: 20px;
}

.danschemin{
    background-color: #F0C600;
    width: 100%;
    height: 10px;
    border-radius: 10px;
}

.list{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

.list a{
    padding: 0.3em;
    font-size: 0.8vw;
    text-decoration: none;
    color: black;
    margin-top: 1em;
    transition: 0.3s;
}

.list a:hover{
    font-weight: bold;
    transition: 0.3s;
}

.chapitre{
    margin-top: 3em;
    padding : 1em;
    position: relative;
}

.chapitre h3{
    font-family: treenightregular;
    font-size: xx-large;
}

.chapitre p{
    width: 50%;
    line-height: 1.3;
    margin: 0;
}

#chap2 p, #chap2 h3, #chap4 p, #chap4 h3, #chap6 p, #chap6 h3, #chap8 p, #chap8 h3{ 
    margin-left: 50%;
}

#chap1 img{
    position: absolute;
    bottom: 0;
    right: -15%;
    transform: rotateY(180deg);
    width: 75%;
}

#chap5 img, #chap7 img, #chap9 img{
    position: absolute;
    bottom: 0;
    right: -15%;
    width: 65%;
}


#chap1{
    margin-top: 0;
}

#chap2 img, #chap4 img, #chap8 img{
    position: absolute;
    bottom: 0;
    top: 0;
    left: -15%;
    width: 75%;
}

.progress {
    height: 20px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0 10px 10px 0;
    animation: progress 1s linear;
  }
  @keyframes progress {
    0% {
      background-color: #411355;
      width: 0%;
      border-radius: 0 10px 10px 0;
    }
    100% {
      background-color: #F0C600;
      width: 100%;
      border-radius: 0;
    }
  }


  :root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
