@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


@font-face {
    font-family: 'treenightregular';
    src: url('/fonts/treenight-webfont.woff2') format('woff2'),
        url('/fonts/treenight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-image: url('../uploads/texture.jpg');
    background-size: contain;
    display: flex;
    font-family: Poppins;
    margin: 0 auto;
    line-height: 1;
    max-width: 2000px;
    min-height: 100vh;
    margin:0 auto;
    flex-direction: column;
}

h2, h1 {
    color: white;
    font-family: 'treenightregular';
    font-size: 5rem;
}


header a:hover {
    filter: drop-shadow(0 0 0.2rem white);
    transition: 0.5s
}

header a{
    transition:0.5s;
}

/*HEAD*/

header {
    background-color: #411355;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-bottom: 1em;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 1;
}

#login-team {
    position: absolute;
    right: 5%;
    height: auto;
    width: 10%;
    display: flex;
}

#login-team div{
    display: flex;
}

#login-team img{
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    border-radius: 50%;
}

#login-team div a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#login-team span{
    color: white;
    font-size: 1vw;
    padding-top: 0.5em;
}

header>div {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav{
    margin: 0.5em auto;
    margin-top: 3em;
    text-align: center;
    width: 90%;
    justify-content: space-between;
}

nav a {
    color: white;
    text-transform: uppercase;
    padding: 3em;
    font-size: large;
    transition: 0.5s;
    text-decoration: none;
}

nav a:hover{
    letter-spacing: 3px;
    transition: 0.5s;

    font-weight: bold;
}

header img {
    width: 7%;
    height: 7%;
}

#logo{
    width: 25%;
}



/*FOOTER*/


footer {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1em;
    z-index: 1;
    background-color: #411355;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

footer p, footer h3{
    margin: 0;
}

footer a{
    color: white;
    text-decoration: none;
}

footer img {
    width: 80px;
}

@media screen and (min-width: 1025px){
    header>div{
        margin-bottom: 1em;
    }

    #mySidenav{
        display: none;
    }
}

@media screen and (max-width: 1024px){
    #login-team span{
        color: white;
        font-size: 1.5vw;
    }

    #login-team img{
        width: 50px;
        height: 50px;
    }

    nav a {
        padding: 1.5em;
    }

    #mySidenav{
        display: none;
    }
}

@media screen and (max-width: 768px){
    #logo{
        width: 45%;
        margin-top: 1em;
    }

    #mySidenav{
        display: block;
    }

    nav{
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 3;
        top: 0;
        right: -250px;
        background-color: #411355;
        padding-top: 60px;
        text-align: left;
        transition: right 0.5s ease;
      }

      /* Sidenav menu links */
      .sidenav a {
        padding: 8px 8px 20px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        transition: 0.3s;
      }

      .sidenav a:hover {
        color: #F0C600;
      }

      .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      /* Active class */
      .sidenav.active {
        right: 0;
      }

      /* Close btn */
      .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
      }

      /* Icône burger */

      #openBtn{
        position: absolute;
        bottom: 38%;
        left: 5%;
      }

      .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
      }

}

@media screen and (max-width: 425px){

    #fissure{
        display: none;
    }

    #logo{
        width: 55%;
        margin-top: 1em;
    }

    #login-team span{
        display: none;
    }

    #login-team img{
        width: 40px;
        height: 40px;
    }

    footer img{
        width: 50px;
    }


}
