@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


@font-face {
    font-family: 'treenightregular';
    src: url('/fonts/treenight-webfont.woff2') format('woff2'),
         url('/fonts/treenight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0 auto;
    line-height: 1;
    max-width: 1900px;
    box-sizing: border-box;
  }

body{
    background-image: url('../uploads/texture.webp');
    background-size: cover;
    display: flex;
    font-family: Poppins;
    min-height:100vh;
    flex-direction: column;
}

/*HEAD*/

header{
    background-color: #411355;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 1;
}

header > div{
    text-align: center;
    justify-content: space-between;
}

nav{
    margin: 1em auto;
    margin-top: 3em;
    text-align: center;
    width: 90%;
    justify-content: space-between;
}

nav a{
    color: white;
    text-transform: uppercase;
    padding: 3em;
    font-size: x-large;
}

header img{
    width: 7%;
    height: 7%;
}

#logo{
    width: 30%;
    height: 30%;
    padding-top: 1em;
}



/*FOOTER*/

.divfoot{
    flex-grow: 1;
}

footer{
    width: 100%;
    text-align: center;
    color: white;
    padding: 1em;
    background-color: #411355;
}

footer img{
    width: 80px;
}

h2 {
    color: white;
}